# Logs
node_modules
dist
dist-ssr
*.local

# Editor folders
.vscode
.idea

# Environment variables (Crucial for security)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
